{% extends 'raza/basic.html' %}

{%block body%}
{%load static%}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


    <div class="main-grids">
        <div class="recommended">
            <div class="recommended-grids">
                <div class="recommended-info">
                    <h3 class="WebDHeader">WebD Videos</h3>
                </div>
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r1.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>2:34</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Varius sit sed viverra viverra nullam
                                nullam interdum metus</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r2.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>3:02</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Nullam interdum metus viverra nullam
                                varius sit sed viverra</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r3.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>1:34</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra
                                nullam interdum metus</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r4.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>2:09</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Nullam interdum viverra nullam metus
                                varius sit sed viverra</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="recommended-grids">
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r4.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>6:34</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra
                                nullam interdum metus</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r5.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>7:34</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Nullam interdum metus viverra nullam
                                varius sit sed viverra</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r6.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>6:09</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Varius sit sed viverra nullam viverra
                                nullam interdum metus</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 resent-grid recommended-grid">
                    <div class="resent-grid-img recommended-grid-img">
                        <a href="single.html"><img src="{%static 'images/r1.jpg'%}" alt="" /></a>
                        <div class="time small-time">
                            <p>9:04</p>
                        </div>
                        <div class="clck small-clck">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="resent-grid-info recommended-grid-info video-info-grid">
                        <h5><a href="single.html" class="title">Nullam interdum metus viverra nullam
                                varius sit sed viverra</a></h5>
                        <ul>
                            <li>
                                <p class="author author-info"><a href="#" class="author">John Maniya</a>
                                </p>
                            </li>
                            <li class="right-list">
                                <p class="views views-info">2,114,200 views</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    <!-- footer -->
    <div class="footer">
        <div class="footer-grids">
            <div class="footer-top">
                <div class="footer-top-nav">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="copyright.html">Copyright</a></li>
                        <li><a href="creators.html">Creators</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="developers.html">Developers</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-nav">
                    <ul>
                        <li><a href="terms.html">Terms</a></li>
                        <li><a href="privacy.html">Privacy</a></li>
                        <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send
                                feedback</a></li>
                        <li><a href="privacy.html">Policy & Safety </a></li>
                        <li><a href="try.html">Try something new!</a></li>
                    </ul>
                </div>
            </div>




        </div>
        <div class="clearfix"> </div>
        <div class="drop-menu">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled
                        link</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
            </ul>
        </div>
        </div>
        </div>


        {%endblock%}